<div class="parallax-container valign-wrapper">
  <div class="valign" id="site-title">
  <h1>Bulletins</h1>
  <h5>Keep your shit together.</h2>
  </div>
</div>
<div class="parallax"><img src="https://images.unsplash.com/photo-1422036306541-00138cae4dbc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f5a5f028c04b4f3ba7f89fb0e18a0440"></div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Organize your life.</h2>
    <p class="grey-text text-darken-3 lighten-3">Kind of like pinterest, except without showing it all off.</p>
    <a class="waves-effect waves-light btn" href="/boards">My Boards</a>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://images.unsplash.com/3/doctype-hi-res.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5faa51012fa10c65dc3f6f4ba15a8f86"></div>
</div>
