/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    -webkit-box-sizing: border-box;
   box-sizing: border-box !important;
   margin: 0 auto;
 }

@import "materialize/components/color";

@import "materialize";

.parallax {
  height: .8vw;
  img {
    max-width: 1500px;
  }
}

nav li a {
  line-height: 64px !important;
  color: white !important;
}

#site-title {
  text-align: center;
  width: 100%;
  background-color: rgba(255,255,255,.7);
  padding-bottom: 1em;
}

.clearfix {
  clear: both;
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}

#container {
  margin: 0 auto;
}

/* clearfix */
#container:after {
  content: ' ';
  display: block;
  clear: both;
}

.packery {
  width: 210px;
  float: left;
}

.packery.w2 { width: 430px; background: #9C0; }
