/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";

@import "materialize";

.parallax {
  height: .8vw;
  img {
    max-width: 1500px;
  }
}

nav li a {
  line-height: 64px !important;
  color: white !important;
}

#site-title {
  text-align: center;
  width: 100%;
  background-color: rgba(255,255,255,.7);
  padding-bottom: 1em;
}

#masonry-container {
  box-sizing: border-box;
  .box {
    width: 250px;
    min-width: 30%;
    margin: 10px;
    img {
      max-width: 100%;
    }
  }
}

.clearfix {
  clear: both;
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}
